body {
	text-align:center;
}
#dan {
	display:block;
	width:500px;
	margin:150px auto;
	padding:15px;
	text-align:center;
	border:7px solid red;
	background:green;
	-webkit-transition:-webkit-transform 2s;
}
#dan:hover {
	-webkit-transform:rotate(45deg);
}